html body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

html code {
  font-family: "D2 coding", monospace;
}

td {
  line-height: 1.5rem;
}

td:first-child {
  white-space: nowrap;
}

button {
  transition: transform .5s;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  color: unset;
  transform: scale(0.95);
}

main.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 720px) {
  .home div.features {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .home .hero p.description {
    max-width: unset;
  }
}